.header {
  width: 100%;
  position: fixwd;
  height: 4rem;
  position: fixed;
  background-color: var(--bg-color);
  z-index: 1;
  border-bottom: 1px solid var(--text-color);

  &.open {
    .header__toggle {
      > span:first-child {
        transform: rotate(45deg);
      }

      > span:nth-child(2) {
        opacity: 0;
      }

      > span:last-child {
        transform: rotate(-45deg);
      }
    }
  }

  .overlay {
    opacity: 0;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background:  linear-gradient(var(--main-color), transparent);
  }

  nav {
    grid-template-columns: repeat(3, 1fr);
    height: 100%;
  }

  &__links {
    > li:not(:last-child){
      padding-right: 1rem;
    }

    a {
      color: var(--text-color);
      font-weight: 500;
      transition: color 300ms ease-in-out;

      &:hover {
        color: var(--main-color);
        transition: color 300ms ease-in-out;
      }
    }

    .active {
      color: var(--main-color);
      border-bottom: 3px solid var(--main-color);
    }
  }

  &__logo {
    font-size: $font-lg;
    font-weight: bold;
    color: var(--text-color);

    &:hover {
      color: var(--main-color);
      transform: scale(1.05);
      transition: all 300ms ease-in-out;
    }
  }

  &__toggle {
    position: absolute;
    right: 1.5rem;
    top: 1.325rem;
    > span {
      display: block;
      width: 1.625rem;
      height: 0.125rem;
      cursor: pointer;
      background-color: var(--title-color);
      transition: all 300ms ease-in-out;
      transform-origin: 0.1875rem 0.0625rem;

      &:not(:last-child) {
        margin-bottom: 0.3125rem;
      }
    }
  }

  &__menu {
    position: absolute;
    width: calc(100% - 6rem);
    left: 50%;
    top: 4rem;
    transform: translate(-50%);
    background-color: var(--bg-color);
    padding: 1.25rem;
    border-radius: 1.75rem;

    a {
      display: block;
      padding: 0.625rem;
      color: var(--text-color);
      font-weight: 500;
      text-align: center;

      &:hover {
        color: var(--title-color);
      }
    }
  }

  &__social {
    a {
      color: var(--text-color);
      cursor: pointer;
      transition: color 300ms ease-in-out;

      &:hover {
        color: var(--main-color);
        transition: color 300ms ease-in-out;
      }

      &:last-child {
        position: absolute;
        right: 3.5rem;
        color: var(--main-color);
      }
    }

    .darkmode {
      color: var(--text-color) !important;
    }
  }

  @include breakpoint-down(medium) {
    &__toggle, &__logo, &__social {
      grid-row: 1;
    }

    &__toggle {
      grid-column: 3;
    }

    &__logo {
      grid-column: 2;
    }

    &__social {
      grid-column: 1;
    }
  }
}