/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;600&display=swap');
$font-family: 'Roboto Mono', monospace;

:root {
  --main-color: #00ACEE;
  --text-color: #6E7787;
  --title-color: #1C1F22;
  --bg-color: #EBF3FF;
}

[data-theme='dark'] {
  --main-color: #08D665;
  --title-color: #FFFFFF;
  --text-color: #CED6DE;
  --bg-color: #041123;
}
/* Font size */
$font-sm: 1rem; 
$font-med: 1.25rem;
$font-lg: 1.5rem;
$font-xlg: 3rem;

/* Box shadow */
$shadow: 0 0.125rem 0.5rem -0.125rem #b6b8b8;