.fade-up {
    opacity: 1;
    transform: translateY(0);
    transition:
        opacity .7s ease,
        transform .7s ease;
}

.fade-up.visible {
    opacity: 1;
    transform: translateY(0);
}

.scale-in {
    opacity: 1;
    transform: scale(1);
    transition:
        opacity .6s ease,
        transform .6s ease;
}