.main-layout {
    display: flex;
    flex-direction: column;
    gap: 8rem;
}

.grid-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
}

.grid-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}